body{
    background-color: white;
    padding: 0; 
    margin: 0;
    max-width: 100%;
}
.kadwa-regular {
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
}
.kadwa-bold {
    font-family: "Kadwa", serif;
    font-weight: 700;
    font-style: normal;
}

.head-container{
    display:flex;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: rgb(86, 26, 33);
    margin: 0;
    padding: 0;
}
.head-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Kadwa", serif;
}
.head-text h1{
    font-size: 60px;
    margin: 0;
    padding: 0;
}
.head-text p{
    font-size: 30px;
    font-family: 'Kdam Thmor', sans-serif;
}
.logoimg{
    display: flex;
    align-items: center;
}
.logoimg img{
    height: 60px;
    width: 100%;
}

.mesbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}
.message{
    font-family: "Kadwa", serif;
    font-size: 24px;
    text-align: center;

}
